*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    gap: 20px;
    height: 70px;
    a{
        border: 1px solid white;
        padding: 5px;
        border-radius: 3px;
        text-decoration: none;
        text-transform: capitalize;
        color: white;
    }
}
.text{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
    .img{
        margin: 20px;
        img{

            width: 250px;
            height: 400px;
        }
    }
    .desc{
        margin: 20px;
        p{
            text-transform: capitalize;
            width: 300px;
            text-align: justify;
        }
    }
}
@media only screen and (max-width:600px){
    .navbar{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width:768px){
    .navbar{
        display: flex;
        flex-direction: column;
        height: 300px;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}